@import "/Colors.scss";

PlayerInfo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	font-family: Fredoka;
	font-weight: 500;

	> .BottomLeft {
		position: absolute;
		bottom: 32px;
		left: 32px;
		width: 424px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.BottomLeftTop {
			position: relative;
			padding: 0px 26px;
			height: 40px;
			top: 6px;
			justify-content: center;
			align-items: center;
			border-radius: 40px;
			text-stroke: 8px black;
			font-color: white;
			font-size: 28px;
			text-transform: uppercase;
			z-index: 2;
			box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
		}

		.StaminaContainer {
			position: relative;
			width: 424px;
			height: 64px;
			border-radius: 40px;
			align-items: center;
			justify-content: center;
			background-color: white;
			display: flex;
			box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.5);
		}

		.stamina {
			position: absolute;
			width: 400px;
			height: 40px;
			justify-content: center;
			align-items: center;
			border: 6px solid rgba(0, 0, 0, 0.5);
			background-color: transparent;
			border-radius: 20px;
		}

		.inner {
			position: absolute;
			width: 400px;
			height: 40px;
			justify-content: flex-start;
			align-items: center;
			background-color: gray;
			flex-grow: 1;
			display: flex;
			border-radius: 20px;
			overflow: hidden;
		}

		.fill {
			position: absolute;
			height: 100%;
			justify-content: center;
			align-items: center;
			background-color: $green;
			flex-grow: 1;
			border-radius: 20px;
		}

		.TextStamina {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-stroke: 8px black;
			font-color: white;
			font-size: 22px;
		}
	}
}
