@import "/Colors.scss";
Uitop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: Fredoka;
	font-weight: bold;

	.TopSection {
		position: absolute;
		top: 16px;
		justify-content: center;
		align-items: center;
		display: flex;
		gap: 32px;
	}

	.LeftHider {
		width: 65px;
		height: 65px;
		justify-content: center;
		align-items: center;
		background-color: $blue;
		border-radius: 40px;
		display: flex;
		text-shadow: 0px 0px 8px #000a;
		color: white;
		font-size: 30px;
		text-stroke: 7px black;
		box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.5);
	}

	.RightSeeker {
		width: 65px;
		height: 65px;
		justify-content: center;
		align-items: center;
		background-color: $red;
		border-radius: 40px;
		display: flex;
		text-shadow: 0px 0px 8px #000a;
		color: white;
		font-size: 30px;
		text-stroke: 7px black;
		box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.5);
	}

	.CenterTime {
		width: 200px;
		height: 75px;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-radius: 40px;
		display: flex;
		text-shadow: 0px 0px 4px #000a;
		color: black;
		font-size: 40px;
		box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.5);
	}
}
