WaitScreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: Fredoka;
	font-weight: bold;


	.title {
		font-size: 50px;
		font-color: black;
		text-shadow: 0px 8px 2px #000a;
		padding: 36px 60px;
		background-color: white;
		justify-content: center;
		align-items: center;
		border-radius: 80px;
		box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.5);
	}
}
