{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "5ed8e1ae-304a-4f69-9596-5a1eb5cf2aa2",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}